<% provide(:title, @user.firstName) %>
<h1> Profile </h1>
<div class="row">
  <aside class="span4">
    <section>
      <h1> Welcome Mr. <%= @user.firstName %> <%= @user.lastName %>!!       </h1>
    </section>
  </aside>
</div> 
<p>

<user>

<firstName> <%= @user.firstName %> </firstName>
<lastName> <%= @user.lastName %> </lastName>
<user_id> <%= @user.id.to_s %> </user_id>
<emailAddress> <%= @user.emailAddress%> </emailAddress>
<phoneNumber> <%=@user.phoneNumber%> </phoneNumber>

</user>


  <div class="span8">
    <% if @user.appointments.any? %>
      <h3>Appointments (<%= @user.appointments.count %>)</h3>
      <ol class="appointments">
        <% @user.appointments.each do |appointment| %>

	<appointment> 
	<ul>
	<b> Date: </b>	
	<day> <%= appointment.day %></day>
	<year>  <%= appointment.year %> </year>
	<b> Start Time: </b>		<startTime> <%= appointment.startTime %> </startTime>
	<b> End Time: </b>	        <endTime> <%= appointment.endTime %> </endTime>
	<b> Status: </b>		<status> <%= appointment.status %> </status>
	</appointment>
	</ul>

  <% end %>
    <% end %>
    </ol>
<h1> Request New Appointment </h1>
<%= form_for(@appointments) do |f|%>
    <div class="field">
    <%= f.text_area :startTime, placeholder: "Start Time" %>
    <%= f.text_area :endTime, placeholder: "End Time" %>
    <%= f.text_area :day, placeholder: "Day" %> 
    <%= f.text_area :year, placeholder: "Year" %> 
    <%= f.text_area :user_id, placeholder: "id"%>
    <%= f.text_area :status, placeholder: "pending" %>

	
  </div>
  <%= f.submit "Request New Appointment!", class: "btn btn-large btn-primary" %>
<% end %>





