<li>
<span class="content">Start Time : <%= appointment.startTime %> </p>
<p> End Time :  <%= appointment.endTime %> </p>
<p> Hour:  <%= appointment.hour %> </p>
<p> Day:  <%= appointment.day %> </p> 
<p> Status: <%= appointment.status %> </p>


</span>
  </span>
</li>
